.header_bottom {
  padding   : 7px 0;
  border-top: 1px solid #C4C4C4;

  .navbar-light {
    .navbar-brand {
      padding-left: 20px;
      margin-right: 90px;

      svg {
        font-size: 32px;
      }
    }

    .navbar-nav .nav_link {
      display     : flex;
      align-items : center;
      margin-right: 40px;
      text-align  : center;

      &:hover {
        color: #006D7C;

      }

      // &:after {
      //   transform       : scaleX(0);
      //   display         : block;
      //   margin-top      : 3px;
      //   width           : 100%;
      //   height          : 2px;
      //   transition      : transform .25s ease-in-out;
      //   background-color: #000;
      //   content         : "";
      // }

      // &:hover:after {
      //   transform: scale(1);

      // }
    }



    .navbar-nav .nav_link.category.active {
      color: #006D7C;
    }
  }
}