.book_view {
  margin-top: 40px;

  .left {
    figure {
      img {
        width     : 100%;
        height    : 450px;
        object-fit: cover;
      }
    }

    .button_area {
      margin-top     : 25px;
      display        : flex;
      justify-content: center;

      .download_btn {
        button {
          span {
            svg {
              fill: #fff;
            }
          }
        }
      }
    }
  }

  .right {
    padding-left: 75px;

    .book_desc {
      margin-top: 24px;
      width     : 100%;

      td {
        display: inline-block;
        margin : 4px 0;
        width  : 20%;
      }

      .year {
        width: 15%;
      }

      .lang {
        width: 30%;
      }
    }
  }

}