.filter_card {
  background-color: #FFFFFF;
  box-shadow      : 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius   : 20px;
  padding         : 20px;

  .filter_form {
    max-height: 260px;
    overflow-y: auto;

    .css-i4bv87-MuiSvgIcon-root {
      fill: #1890FF;
    }

    .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
      user-select: none;
    }
  }

  .filter_form.languages {
    max-height: 131px;
    overflow-y: auto;
  }


}

.filter_card.languages {
  margin-top: 18px;
}