.articles {

  .article_card {
    margin-top      : 22px;
    padding         : 25px;
    background-color: #fff;
    border-radius   : 25px;

    .about_title {
      line-height: 60px;
    }
  }

  .filter_wrapper {
    margin-top: 22px;
  }
}