.services {
  .service {
    .service_card {
      height       : 340px;
      margin-top   : 45px;
      padding      : 25px;
      background   : #FFFFFF;
      box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      // min-height: 510px;

      img {
        height    : 220px;
        object-fit: cover;
      }
    }
  }
}