// FONT ROBOTO
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  overflow-x: hidden;
}

* {
  margin        : 0;
  padding       : 0;
  box-sizing    : border-box;
  color         : #000;
  font-family   : 'Roboto', sans-serif;
  // overflow-x : hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow   : inset 0 0 6px #006D7C;
}

::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 6px #ebebeb;
  border-radius: 10px;
}

ul li {
  list-style: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin : 0;
  padding: 0;
}


a {
  text-decoration: none;
  display        : inline-block;
}

#fikrat_wrapper {
  max-width       : 2000px;
  margin          : 0 auto;
  background-color: #EDE2D1;
}

.mt_15 {
  margin-top: 15px;
}

h1.home_title {
  font-style : normal;
  font-weight: 600;
  font-size  : 36px;
  line-height: 42px;
  color      : #000000;
  margin     : 30px 0;
  text-align : center;
}

h4.home_about_title {
  font-style : normal;
  font-weight: 600;
  font-size  : 24px;
  line-height: 28px;
  margin     : 25px 0px;
  color      : #000000;
}

p.home_about_info {
  font-style : normal;
  font-weight: 600;
  font-size  : 18px;
  line-height: 21px;

  color: #000000;
}

p.home_info {
  font-style   : normal;
  font-weight  : 600;
  font-size    : 24px;
  line-height  : 28px;
  text-align   : center;
  margin-bottom: 30px;
  color        : #000000;
}

h2.title {
  font-style : normal;
  font-weight: 600;
  font-size  : 36px;
  line-height: 42px;
  color      : #006D7C;
  margin     : 15px 0;
}

h3.about_title {
  font-style : normal;
  font-weight: normal;
  font-size  : 36px;
  line-height: 42px;
  color      : #006D7C;
}

// b.about_brand_title {
//   font-size    : 26px;
//   display      : block;
//   margin-bottom: 10px;
// }

p.category {
  font-style : normal;
  font-weight: normal;
  font-size  : 20px;
  line-height: 23px;
  color      : #000000;
}

.category {
  font-style : normal;
  font-weight: normal;
  font-size  : 20px;
  line-height: 23px;
  color      : #000000;
}

p.card_title {
  font-style : normal;
  font-weight: 500;
  font-size  : 14px;
  line-height: 16px;
  text-align : center;
  color      : #006D7C;

}

p.card_content {
  font-style : normal;
  font-weight: 500;
  font-size  : 14px;
  line-height: 16px;
  text-align : center;
  color      : #000000;

}

h4.footer_title {
  font-style : normal;
  font-weight: normal;
  font-size  : 24px;
  line-height: 28px;
  color      : #FFFFFF;
}

p.footer_content {
  font-style : normal;
  font-weight: normal;
  font-size  : 20px;
  line-height: 23px;
  color      : #FFFFFF;
}

h1.book_view_title {
  font-style : normal;
  font-weight: normal;
  font-size  : 36px;
  line-height: 42px;
  color      : #000000;
}

.book_view_content {
  font-style : normal;
  font-weight: normal;
  font-size  : 24px;
  line-height: 28px;
  color      : #000000;
}

p.book_view_content {
  font-style : normal;
  font-weight: normal;
  font-size  : 24px;
  line-height: 28px;
  color      : #000000;
  margin-top : 45px;
}

p.atricle_content {
  font-style : normal;
  font-weight: normal;
  font-size  : 24px;
  line-height: 28px;
  color      : #000000;
}

h3.services_title {
  font-style : normal;
  font-weight: 500;
  font-size  : 30px;
  line-height: 35px;
  color      : #006D7C;
  text-align : center;
  margin-top : 45px;
}

p.service_card_desc {
  font-style : normal;
  font-weight: normal;
  font-size  : 18px;
  line-height: 21px;
  color      : #000000;
  margin-top : 10px;
}

.color_till {
  color: #006D7C !important;
}

@media screen and (max-width:1200px) {
  h1.home_title {
    font-size  : 32px;
    line-height: 36px;
    margin     : 25px 0px;
  }

  p.home_info {
    font-size    : 22px;
    line-height  : 26px;
    margin-bottom: 26px;
  }

  h4.home_about_title {
    font-size  : 22px;
    line-height: 26px;
    margin     : 20px 0px;
  }

  p.home_about_info {
    font-size  : 17px;
    line-height: 20px;
  }

  .category {
    font-size  : 18px;
    line-height: 20px;
  }

  h2.title {
    font-size  : 32px;
    line-height: 36px;
  }

  p.atricle_content {
    font-size  : 22px;
    line-height: 26px;
  }

  h3.about_title {
    font-size  : 32px;
    line-height: 36px;
  }

  // b.about_brand_title {
  //   font-size: 24px;
  // }

  p.footer_content {
    font-size  : 19px;
    line-height: 23px;
  }

  h4.footer_title {
    font-size  : 22px;
    line-height: 26px;
  }

  h3.services_title {
    font-size  : 29px;
    line-height: 30px;
    margin-top : 40px;
  }

  p.service_card_desc {
    font-size  : 17px;
    line-height: 20px;
  }

  p.category {
    font-size: 19px;
  }

  #fikrat_wrapper {
    .detail_btn {
      font-size: 22px;
      padding  : 5px 50px;
    }

    .header_top {
      .logo_wrapper {
        .logo_brand {

          img {
            width: 160px;
          }
        }

      }

      .language_wrapper {
        .dropdown {

          .dropdown-toggle {
            font-size: 22px;
          }
        }

      }
    }


    .header_bottom {

      .navbar-light {
        .navbar-nav {
          .nav_link {
            margin-right: 36px;
          }
        }

      }

    }

    .home {
      .home_bottom {
        margin-top: 40px;

        .button_area {
          padding: 50px 0px;
        }

        .image_card {
          img {
            height: 370px;
          }

        }

      }

    }

    .book_card {
      .card {
        .card-img-top {
          height: 240px;
        }
      }
    }

    .media {

      .youtube_video_card {

        .video_wrapper {
          height: 400px;
        }

        .video_desc {
          .date_btn {
            font-size   : 17px;
            margin-right: 30px;
          }
        }

      }
    }

    .articles {
      .article_card {
        margin-top: 20px;

        .about_title {
          line-height: 55px;
        }
      }

    }

    .wise_words {
      .foto_card {
        img {
          height: 300px;
        }
      }
    }

    .services {
      .service {
        .service_card {
          img {
            height: 200px;

          }
        }
      }
    }

    .about_us {
      .about {
        padding: 20px 40px 40px 45px;

        .about_body {
          margin-top: 35px;
        }
      }
    }

    .footer {
      .footer_top {
        padding: 28px 50px 40px;
      }
    }

    .empty_search {
      padding-bottom: 30px;

      .content_area {
        .button_area {
          a {
            font-size  : 22px;
            line-height: 26px;
          }
        }
      }
    }

  }
}

@media screen and (max-width:1024px) {
  // #fikrat_wrapper {}
}

@media screen and (max-width:992px) {
  #fikrat_wrapper {

    .header_bottom {

      .navbar-light {

        .navbar-nav {
          .nav_link {
            justify-content: center;
            padding        : 5px 0;
          }
        }
      }
    }

    .book_world {
      .book_world_row {
        flex-direction: column-reverse;

        .left {
          margin-top: 10px;
        }
      }
    }

    .book_view .right {
      margin-top  : 10px;
      padding-left: 0;
    }
  }

}

@media screen and (max-width:768px) {
  .mt_15 {
    margin-top: 10px;
  }

  #fikrat_wrapper {

    .header_top {

      .logo_wrapper {

        .logo_brand {

          img {
            width: 130px;
          }
        }
      }
    }

    .footer {
      .footer_body {
        .footer_contacts {
          justify-content: flex-start;
        }
      }
    }

  }

}

@media screen and (max-width:576px) {}

@media screen and (max-width:480px) {}


@media (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}