.home {
  .home_top {

    .left {
      height: 100%;
    }

    .right {
      .button_area {
        margin-top: 20px;
      }
    }
  }

  .home_bottom {
    margin-top: 50px;

    a {
      display: block;


      .image_card {
        img {
          height    : 400px;
          object-fit: cover;
          width     : 100%;
        }

      }
    }

    .button_area {
      display        : flex;
      justify-content: center;
      padding        : 60px 0;
    }
  }
}