// .detail_btn {
//   display      : inline-block;
//   font-family  : Roboto;
//   font-style   : normal;
//   font-weight  : 600;
//   font-size    : 24px;
//   line-height  : 28px;
//   color        : #FFFFFF;
//   background   : #2704FF;
//   border-radius: 10px;
//   padding      : 6px 58px;

//   &:hover {
//     color: #FFFFFF;
//   }
// }
$color: #2704FF;

.detail_btn {
  display      : inline-block;
  padding      : 6px 58px;
  border-radius: 10px;
  color        : #fff;
  font-style   : normal;
  font-weight  : 600;
  font-size    : 24px;
  transition   : all .3s;
  position     : relative;
  overflow     : hidden;
  z-index      : 1;

  &:after {
    content         : '';
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: $color;
    border-radius   : 10px;
    z-index         : -2;
  }

  &:before {
    content         : '';
    position        : absolute;
    bottom          : 0;
    left            : 0;
    width           : 0%;
    height          : 100%;
    background-color: lighten($color, 10%);
    transition      : all .3s;
    border-radius   : 10px;
    z-index         : -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}