.pagination_wrapper {
  margin-top     : 26px;
  display        : flex;
  justify-content: center;

  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    background-color: #fff;
  }

  .css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color : #1890FF;
    border: 1px solid #1890FF;

  }
}