.header_top {

  .logo_wrapper {
    .logo_brand {
      img {
        width     : 170px;
        object-fit: contain;
      }
    }
  }

  .search_form {
    display    : flex;
    align-items: center;
    height     : 100%;

    form {
      width: 100%;

      .search_input_wrapper {
        position       : relative;
        display        : flex;
        justify-content: flex-end;

        .form-control {
          background-color: transparent;
          border          : none;
          height          : 60px;
          font-style      : normal;
          font-weight     : normal;
          font-size       : 24px;
          line-height     : 28px;

          &::placeholder {
            color: #C4C4C4;
          }
        }

        .form-control.focus {
          border       : 1px solid #006D7C;
          border-radius: 15px;
          width        : 90%;

          // transition: all .4s ease;
          &:focus {
            box-shadow: none;
          }
        }

        .form-control.focus:hover+span {
          display: none;
        }

        .form-control.focus:focus+span {
          display: none;
        }

        span {
          position: absolute;
          right   : 10px;
          top     : 15px;

          svg {
            font-size : 32px;
            cursor    : pointer;
            transition: all .4s;

            &:hover {
              transform: scale(1.1);
            }

          }
        }
      }
    }
  }

  .language_wrapper {
    display    : flex;
    align-items: center;
    height     : 100%;

    .dropdown {
      .dropdown-toggle {
        font-style      : normal;
        font-weight     : normal;
        font-size       : 24px;
        line-height     : 28px;
        background-color: #fff;
        color           : #006D7C;
        border          : none;

        &:hover {
          color: rgba(0, 109, 124, .7);
        }

        &::after {
          color: #006d7c;
        }

        &:focus {
          outline   : none;
          box-shadow: none;

        }

      }

      .dropdown-menu {
        border    : none;
        box-shadow: 0 1px 8px rgba(0, 0, 0, .23);

        .dropdown-item {

          color: #000;

          &:active {
            background-color: #fff;
          }
        }

        .dropdown-item.selected {
          color: #006D7C;
        }
      }
    }
  }

}

// @media screen and (min-width:768px) {
//   .mobile_search {
//     display: none;
//   }
// }

// @media screen and (max-width:768px) {
//   .desktop_search {
//     display: none;
//   }
// }