.book_card {
  background   : #FFFFFF;
  box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  padding      : 15px 15px 0;

  .card {
    border: 0;

    .card-img-top {
      width     : 100%;
      height    : 260px;
      object-fit: cover;
    }

    .card_text {
      font-style : normal;
      font-weight: 500;
      font-size  : 14px;
      line-height: 16px;
      text-align : center;
      color      : #006D7C;

      &:last-child {
        margin-top: 3px;
      }
    }
  }
}