.empty_search {
  padding-bottom: 40px;

  .image_area {
    text-align: center;

    figure {
      img {
        height    : 290px;
        object-fit: contain;
        max-width : 100%;
      }
    }
  }

  .content_area {
    .button_area {
      text-align : center;
      padding-top: 40px;

      a {
        background   : #006D7C;
        border-radius: 30px;
        color        : #fff;
        font-style   : normal;
        font-weight  : 400;
        font-size    : 24px;
        line-height  : 28px;
        padding      : 15px 30px;
      }
    }
  }
}