.footer {
  margin-top      : 30px;
  background-color: #006D7C;
  padding-top     : 45px;

  .footer_top {
    background-color   : #FFFFFF;
    box-shadow         : 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    // filter          : blur(4px);
    border-radius      : 20px;
    padding            : 30px 55px 45px;

    .footer_col {
      display          : flex;
      // align-items   : center;
      // width      : 95%;
      margin-top       : 15px;

      svg {
        font-size   : 60px;
        margin-right: 20px;
      }
    }
  }

  .footer_body {
    padding: 30px 0 10px;

    .footer_about_us {
      margin-top: 10px;

      .footer_content {
        margin-top: 10px;
      }
    }

    .footer_social_medias {
      margin-top: 10px;
    }

    .footer_contacts {
      margin-top     : 10px;
      display        : flex;
      justify-content: flex-end;

      ul {
        margin-top : 10px;
        line-height: 35px;

        li {
          transition: all .3s ease;

          &:hover {
            transform: translateX(10px);
          }

          a {
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .footer_bottom {
    background-color: #FFFF00;

    .left {
      display    : flex;
      align-items: center;
      height     : 100%;
      position   : relative;

      p {
        width: 100%;
      }

      &:after {
        position    : absolute;
        height      : 1px;
        display     : block;
        width       : 45px;
        transform   : rotate(90deg);
        background  : #000;
        content     : '';
        border-right: 1px solid #000;
        right       : -39px;
      }

    }

    .right {
      display        : flex;
      align-items    : center;
      height         : 100%;
      justify-content: flex-end;
      padding-right  : 35px;

      .footer_content {

        img {
          height    : 60px;
          object-fit: contain;

        }
      }
    }
  }
}