.media {
  .youtube_video_card {
    margin-top: 24px;

    .video_wrapper {
      height: 460px;
    }

    .video_desc {
      padding-top    : 15px;
      display        : flex;
      justify-content: space-between;
      flex-wrap      : wrap;

      .about_title {
        margin-top: 10px;
      }

      .date_btn {
        margin-top  : 10px;
        margin-right: 35px;
        font-style  : normal;
        font-weight : 600;
        font-size   : 18px;
        line-height : 21px;
        color       : #FFFFFF;

        svg {
          margin-right: 5px;
        }
      }
    }
  }
}